.movieDiv:hover{
    border: 5px solid black;
    transition: ease-out .5s;
    cursor: pointer;
}
.movieDiv{
    border: 5px solid transparent;
    border-radius: 8px;
    margin: 15px;
    padding: 15px;
}
.removeBtn{
    background-color: lightcoral;
}
.cartbtn{
    background-color: lightslategrey;
}
.detailbtn{
    background-color: lightskyblue;
}
.cartbtn:hover{
    background-color: orange;
    transition: .7s;
}
.detailbtn:hover{
    background-color:deepskyblue;
    transition: .7s;
}
.removeBtn:hover{
    background-color:red;
    transition: .7s;
}